@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Marko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --latar: #E8EDF3;
}

::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-weight: 600;
    font-size: 1.5rem;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;

}

/* SIDE BAR */
#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    /* background-color: #011C40; */
    background-color: #191919;
   
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}

#sidebar.expand{
    width: 250px;
    min-width: 250px;
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;
}

#toggle-btn i{
    color: #ffffff;
    font-size: 1.5rem;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    /* padding: 1rem 1.5rem; */
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;

}

.sidebar-item i{
    color: #ffffff;
}

.sidebar-item span.deskripsi{
    margin-left: 1rem;
}
.sidebar-nav{
    padding: 0.75rem 0;
    flex: 1 1 auto;
    /* margin: 5px 0; */


}
a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #666666;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left:3px solid transparent ;

}


.sidebar-link i{
    font-size: 1.1rem;
}


a.sidebar-link:hover{
    background-color: rgba(189, 189, 189, 0.75);
    border-left: 3px solid #f1f5f9;
    color: rgb(0, 0, 0);
}

.sidebar-link.active {
    background-color: #FF7518;
    color: rgb(0, 0, 0) !important;
    border-left: 4px solid #ffffff;
    font-weight: 600;
}

.sidebar-item{
    position: relative;
    padding: 10px 0;
}


#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #191919;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+ .sidebar-dropdown{
    display: block;
    max-width: 15rem;
    width: 100%;
    opacity: 1;

}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* END SIDEBAR */
.card,
.card-body {
    overflow: visible !important;
}
/* MAIN-CONTENT */
.main{
    min-height: 100vh;
    width: 100%;
    overflow: visible;
    transition: all 0.35s ease-in-out;
    /* background-color: #f1f0ec; */
    background-color: #f8f9fc;
}

.header i{
    color: #191919;
}

.header i::hover{
    background-color: #E8EDF3;
}

.btn {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px 12px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.btn:hover {
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
    /* box-shadow: 0 2px 4px #0f1e5e; */
    background-color: #FF7518;
    border: none;
    color: #191919;
}
.card-body i{
    font-size: 1.5rem;
    /* background-color: #011C40; */
    /* color: #0f971c; */
}

.card{
   box-shadow: 0 8px 20px rgba(8, 62, 64, 0.2), 0 2px 8px rgba(136, 151, 23, 0.1);
}

.btn-tambah{
    background-color: #0d6efd;
    color: #f8f9fc;
    width: 150px;
}

.btn-cancel{
    background-color: red;
}
.btn-submit{
    background-color: green;
}

.btn-edit{
    background-color: #0d6efd;
    color: #ffffff;
}

.btn-edit:hover{
    background-color: #0d6efd;
    box-shadow: 0 8px 20px rgba(8, 62, 64, 0.2), 0 2px 8px rgba(136, 151, 23, 0.1);
    transform: translateY(-8px);
    transition: all 0.3s ease;
}
.btn-dropdown{
    background-color: #0d6efd;
    color: #fff;
}
.form-control:hover, .form-select:hover{
    box-shadow: 0 0px 1px rgba(8, 62, 64, 0.2), 0 2px 8px rgba(136, 151, 23, 0.1);
    /* border: 1px solid #FF7518; */
}

.input-group{
    width: 600%;
}


/* END CONTENT */

.card:hover  {
    transition: all 0.3s ease;
    /* transform: translateX(2px); */
    box-shadow: 0 8px 15px rgba(255, 117, 24,0.1), 0 2px 8px rgba(255, 117, 24,0.1);
  }

table {
    table-layout: auto;
}
