/* BODY */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: rgb(235, 233, 233);
}

/* HEADER */
.header-container{
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    background-color: #ffffff;
    color: #000;
    font-size: 25px;
    height: 60px;
    padding: 10px 20px;
    box-shadow: 2px 0 5px rgb(73, 73, 73);
}

.header-container header{
    display: flex;                  /* Wajib */
    justify-content: space-between; /* Search kiri, icon kanan */
    align-items: center;            /* Tengah vertikal */
    height: 100%;
}

.header-container .search{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.header-container .icon{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar{
    position: fixed;
    top : 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    /* background-color: #000000; */
    background-color: #000000;
    transition: width 0.3s;
    font-family: poppins, sans-serif;
    /* box-shadow: 2px 0 5px rgb(92, 92, 92); */
    border-right: 1px solid rgb(73, 73, 73);
    
}

/* .sidebar .menu-title{ */
    /* text-align: center; */
    /* margin-bottom:30px; */
    /* color: rgb(224, 224, 224); */
    /* color: #ffffff;
    font-weight: 500;
} */

.sidebar .brand{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    /* top:0; */
    /* padding: 10px 20px; */
    /* color: rgb(224, 224, 224); */
    color: rgb(255, 255, 255);
    /* margin-bottom: 10px; */
    text-decoration: none;
    /* white-space: nowrap; */
}


.sidebar .brand h2{
    margin:0;
    padding:0;
    font-size: 24px;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    /* margin: 5px; */
}

.sidebar .nav-link:hover{
    /* background-color: rgb(236, 255, 240); */
    transition: all 0.3s ease-in;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #0f971c;
    /* border-color: #0f971c; */
    /* border-radius: 10px; */
}

.sidebar .nav-link:focus{
    /* background-color: rgb(236, 255, 240); */
    background-color: #0f971c;
    color: rgb(5, 5, 5);
    transition: all 0.3s ease-in;
    font-weight: 500;
    /* border-bottom: 2px solid #ffffff; */
}

.sidebar .description{
    font-size : 16px
}

.sidebar .icon{
    font-size: 18px;
}

.sidebar .sub-menu{
    padding-left : 20px;
    /* background-color: #cdf0d0; */
}

.main-content{
    margin-left: 200px;
    padding: 20px;
}


/* responsive */
@media screen and (max-width:480px){
    .sidebar{
        width: 60px;
    }

    .sidebar .description{
        display: none;
    }

    .sidebar .nav-link{
        justify-content: center;
    }

    .main-content{
        margin-left: 60px;
    }
    
}